
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap')

// nav
//   height: 53px
//   background: #212121
//   transition: 0.6s
//   position: fixed
//   width: 100%
//   top: 0
//   z-index: 99

// .hamburger
// 	display: none

// .menu
//   display: flex
//   font-display: row
//   justify-content: space-between
//   color: #FFFFFF
//   padding: 13px 70px
//   margin: 0
//   list-style: none

// .menu_link
// 	color: #FFFFFF
// 	text-decoration: none
// 	font-weight: 300
// 	font-size: 15px
// 	line-height: 15px
// 	&:hover
// 		color: #1EACC7

// .menu_item
// 	border-right: 2px dotted #000000
// 	padding-right: 27px
// 	&:last-child
// 		border-right: none

// .subheader
//   height: 87px
//   background: rgba(0, 0, 0, 0.6)
//   position: relative
//   margin-top: 50px
//   z-index: 2

// .subheader_logo
// 	display: block
// 	max-width: 100%
// 	margin-top: 19px

// .subheader_official
// 	font-weight: 100
// 	font-size: 13px
// 	opacity: 0.5
// 	color: #FFFFFF
// 	margin-top: 9px

// .subheader_phone
// 	display: block
// 	margin-top: 4px
// 	font-weight: 400
// 	font-size: 22px
// 	text-transform: uppercase
// 	color: #FFFFFF
// 	text-decoration: none
// 	text-align: right
// 	line-height: 12px
// 	&:hover
// 		color: black

// .subheader_call
// 	margin-top: 19px
// 	font-weight: 300
// 	font-size: 14px
// 	color: #FFFFFF
// 	text-align: right
// 	margin-bottom: 2px

// .subheader_btn
// 	margin-top: 19px
// 	width: 172px
// 	height: 46px
// 	background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%)
// 	box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12)
// 	border-radius: 5px
// 	font-weight: 400
// 	font-size: 14px
// 	text-transform: uppercase
// 	color: #FFFFFF
// 	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21)
// 	&:hover
// 		background-image: none
// 		background-color: #000
// 		color: white
// 		border-radius: none
// 		tansition: all 0.4s linear
		
	

// .promo
//   min-height: 800px
//   background: url('/MEDIA/UBER/uber_bg.jpg')
//   padding: 150px 0 135px 0
//   transform: translateY(-87px)
//   z-index: 1

// .promo_header
// 	font-weight: 900
// 	font-size: 60px
// 	text-transform: uppercase
// 	color: #FFFFFF
// 	line-height: 60px
// 	margin: 0
// 	text-align: center

// .promo_subheader
// 	font-weight: 900
// 	font-size: 36px
// 	text-transform: uppercase
// 	color: #FFFFFF
// 	line-height: 36px
// 	margin: 0
// 	margin-top: 22px
// 	text-align: center

// .promo_descr
// 	font-weight: 400
// 	font-size: 18px
// 	line-height: 24px
// 	text-align: center
// 	color: #FFFFFF
// 	margin-top: 16px

// .promo_btn
// 	display: block
// 	margin: 115px auto 0 auto
// 	width: 259px
// 	height: 63px
// 	background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%)
// 	box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12)
// 	border: none
// 	border-radius: 4px
// 	font-weight: 400
// 	font-size: 18px
// 	text-transform: uppercase
// 	color: #FFFFFF
// 	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21)
// 	&:hover
// 		background: #000
// 		color: #fff
// 		tansition: all 0.4s linear
	

// .reasons
//   transform: translateY(-88px)
//   z-index: 1
//   background: white
//   min-height: 800px



// .container .title
//   display: flex
//   justify-content: center
//   margin-top: 33px
//   font-weight: 700
//   font-size: 38px
//   line-height: 48px
//   text-transform: uppercase
//   color: #222222

// .reasons
//   padding: 71px 0 65px 0


// .label
//   margin: 0 auto
//   height: 24px
//   width: 112px
//   padding: 5px 12px
//   background-color: #000000
//   color: #ffffff
//   font-size: 11px
//   font-weight: 300
//   text-transform: uppercase
//   text-decoration: none
//   text-align: center
  

// .label_link
// 	color: white
// 	text-decoration: none
// 	&:hover
// 		color: #4CE2FF
	

// .title
//   margin-bottom: 0
//   margin-top: 38px
//   color: #222222
//   font-size: 38px
//   font-weight: 700
//   text-transform: uppercase
//   text-align: center

// .subtitle_2
// 	font-size: 38px
// 	line-height: 48px
// 	text-transform: uppercase
// 	color: #222222
// 	// font-weight: 400
// 	font-size: 17px
// 	line-height: 21px
// 	margin-top: 19px
// 	margin-left: auto
// 	margin-right: auto
// 	text-align: center


// .reasons 
// 	&_block
// 		display: flex
// 		justify-content: center
// 		align-items: center
// 		margin-top: 35px
	

// .reasons_round
// 	display: flex
// 	justify-content: center
// 	align-items: center
// 	margin-right: 26px
// 	width: 113px
// 	height: 113px
// 	background-color: #1eacc7
// 	border-radius: 100%

// .reasons_descr
// 	width: 343px
// .reasons_subtitle
// 	line-height: 21px
// 	color: #1eacc7
// 	font-size: 17px
// 	font-weight: 400

// .reasons_text
// 	color: #202020
// 	font-size: 15px
// 	font-weight: 300
// 	line-height: 21px

// .mobile
// 	min-height: 864px
// 	padding: 48px 0 80px 0
// 	background: url('/MEDIA/UBER/mobile_bg.jpg') 100%
// 	.container
// 		.label
// 			cursor: pointer
// 			&:hover
// 				color: #1eacc7
// 	.row
// 		margin-top: 30px
// 	&_item	
// 		position: relative
// 		width: 320px
// 		height: 280px
// 		margin: 0 auto
// 		margin-bottom: 19px
// 		padding-top: 92px
// 		&_1
// 			background: url('/MEDIA/UBER/Карточка_1.png')
// 		&_2
// 			background: url('/MEDIA/UBER/Карточка_2.png')
// 		&_3
// 			background: url('/MEDIA/UBER/Карточка_3.png')
// 		&_4
// 			background: url('/MEDIA/UBER/Карточка_4.png')
// 		&_5
// 			background: url('/MEDIA/UBER/Карточка_5.png')
// 		&_6
// 			background: url('/MEDIA/UBER/Карточка_6.png')
// 		&_subtitle
// 		font-weight: 400
// 		font-size: 24px
// 		line-height: 31px
// 		text-transform: uppercase
// 		color: #FFFFFF
// 		text-align: center
// 		&_plus
// 			display: flex 
// 			justify-content: center
// 			align-items: center
// 			position: absolute
// 			bottom: 35px
// 			left: 50%
// 			transform: translateX(-50%)
// 			width: 26px
// 			height: 26px
// 			background-color: #000000
// 			margin: 0 auto
// 			border-radius: 100%
// 			cursor: pointer
// 			&::before
// 				content: ''
// 				display: block
// 				width: 14px
// 				height: 2px
// 				background-color: #1CA8C3
// 				transition: 0.7s all
// 			&::after
// 				content: ''
// 				position: absolute
// 				left: 50%
// 				transform: translateX(-50%)
// 				display: block
// 				height: 14px
// 				width: 2px
// 				background-color: #1CA8C3
// 				transition: 0.7s all
// 			&:hover
// 				&::before, &::after
// 					background-color: #ff5656
					

				
								
				
// .car_choose		
// 	background: url('/MEDIA/UBER/dark_light.png')
// 	// background: url('/1_module/src/Uber_project/Img/light_car.png')
// 	.container
// 		.label_btn
// 			width: 115px
// 			height: 27px
// 			background: #FFFFFF
// 			width: 112px
// 			height: 24px
// 			font-weight: 400
// 			font-size: 11px
// 			line-height: 11px
// 			display: flex
// 			align-items: center
// 			text-align: center
// 			justify-content: center
// 			text-transform: uppercase
// 			color: #070716
// 			cursor: pointer
// 			border-radius: 2px
// 			margin: 0 auto
// 			transform: translateY(200%)
				
				
// 		.title
// 			width: 542px
// 			height: 48px
// 			font-family: 'Roboto'
// 			font-style: normal
// 			font-weight: 700
// 			font-size: 38px
// 			line-height: 48px
// 			display: flex
// 			align-items: center
// 			text-align: center
// 			text-transform: uppercase
// 			justify-content: center
// 			margin: 77px auto 0 auto
// 			color: #FFFFFF
// 		.subtitle
// 			width: 572px
// 			height: 21px
// 			font-weight: 400
// 			font-size: 17px
// 			line-height: 21px
// 			display: flex
// 			align-items: center
// 			text-align: center
// 			margin: 1px auto 0 auto
// 			color: #FFFFFF
// 			margin-bottom: 54px
// 		img
// 			display: block
// 			margin-right: auto
// 			margin-left: auto		
// 			margin-bottom: 46.4px	
// 		.descr
// 			width: 327px
// 			height: 49px
// 			font-weight: 300
// 			font-size: 17px
// 			line-height: 24px
// 			display: flex
// 			align-items: center
// 			text-align: center
// 			color: #222222
// 			margin-right: auto
// 			margin-left: auto
// .require
// 	padding: 68px 0 84px 0
// 	&_block 
// 		margin: 33px 0
// 		&_nmb
// 			margin-bottom: 0px
// 	&_title 
// 		color: #1ca8c3
// 		font-size: 22px
// 		font-weight: 400
// 	&_list 
// 		list-style-type: none
// 		padding-left: 50px
// 		margin-top: 22px
// 		li 
// 			position: relative
// 			font-size: 17px
// 			font-weight: 300
// 			line-height: 24px
// 			margin-bottom: 10px
// 			&:before 
// 				content: ''
// 				display: block 
// 				position: absolute
// 				left: -32px
// 				top: 3px
// 				width: 21px 
// 				height: 20px
// 				background: url('/MEDIA/UBER/check_icon.svg') center no-repeat
// 	.container
// 		.label
// 			cursor: pointer
// 			&:hover
// 				color: #4CE2FF
		
// 	&_descr 
// 		margin-top: 25px
// 		font-size: 17px
// 		font-weight: 300
// 		line-height: 24px
// 		color: #1ca8c3
// 	.warning 
// 		.require_title
// 			color: #FF5656
// 		.require_list
// 			li 
// 				&:before
// 					background: url('/MEDIA/UBER/check_red_3.svg') center (center / cover) no-repeat
// .world 
// 	position: relative
// 	min-height: 717px
// 	padding: 49px 0
// 	background: url('/MEDIA/UBER/world_bg.jpg') center (center / cover) no-repeat
// 	&_link 
// 		position: absolute
// 		left: 50%
// 		transform: translateX(-50%)
// 		bottom: 49px
// 		text-align: center
// 		font-size: 15px
// 		font-weight: 400
// 		line-height: 68px
// 		text-transform: uppercase
// 		color: #1fbad6
// 		&:hover 
// 			text-decoration: none
// 			color: #fff
// .label_min
// 	width: 79px
// 	height: 27px
// 	background: #FFFFFF
// 	color: black
// 	cursor: pointer


// .world
// 	.container
// 		h2
// 			color: white
// 	.subtitle
// 		&_white
// 			display: flex
// 			justify-content: center
// 			color: white

// .footer_divider
// 	hr
// 		display: block
// 		margin-right: auto
// 		margin-left: auto
// 		color: #000000
// 		height: 9px
// 		width: 301px
//  		border: 5px solid 
		
// .footer_wrapper
// 	height: 134px
// 	.footer_links_main
// 			width: 360px 
// 			display: flex
// 			margin-right: auto
// 			margin-left: auto
// 			justify-content: space-around
// 			font-weight: 300
// 			font-size: 17px
// 			line-height: 68px
// 			text-transform: uppercase
// 			a
// 				color: #070716
// 				text-decoration: none
// 				cursor: pointer
// 	.footer_links_sub
// 		width: 455px
// 		display: flex
// 		margin-right: auto
// 		margin-left: auto
// 		justify-content: space-around
// 		font-weight: 300
// 		font-size: 11px
// 		line-height: 3px
// 		align-items: center
// 		text-transform: uppercase
// 		a
// 			color: #999999
// 			text-decoration: none
// 			cursor: pointer
// 			// @include btn_hover_dark
// 	.language
// 		width: 65px
// 		font-weight: 400
// 		font-size: 11px
// 		line-height: 50px
// 		margin: 0 auto
// 		text-align: center
// 		text-transform: uppercase
// 		a
// 			color: #1FBAD6
// 			text-decoration: none
// 	.footer_social
// 		position: absolute
// 		margin-right: none
// 		&_item
// 			text-decoration: none
// 			i
// 				border-radius: black 1px solid
// 				color: black
// 				font-size: 17px	
// 				margin-top: 35px
// 				padding-left: 7px

// .footer_mobile
// 	display: flex
// 	justify-content: flex-end
// .apps_download_item
// 	width: 300px
// 	padding-right: 10px

// .xs-visible
// 	display: none


header
	position: relative
	height: 50px

nav
	position: fixed
	width: 100%
	height: 50px
	background-color: #212121
	z-index: 5

.hamburger
	display: none

.menu
	display: flex
	justify-content: space-between
	padding: 13px 70px
	margin: 0
	list-style-type: none
	&_link
		color: #ffffff
		font-size: 15px
		font-weight: 300
		&:hover
			text-decoration: none
			color: #1CA8C3
	&_item
		border-right: 2px dotted black
		padding-right: 28px
		&:last-child
			border-right: none

.subheader
	position: absolute
	top: 50px
	width: 100%
	height: 84px
	background-color: rgba(0, 0, 0, 0.6)
	&_logo
		display: block
		max-width: 100%
		margin-top: 16px
	&_official
		margin-top: 6px
		opacity: 0.5
		color: #ffffff
		font-size: 13px
		font-weight: 400
	&_call
		color: #ffffff
		font-size: 12px
		font-weight: 300
		margin-top: 19px
		text-align: right
	&_phone
		display: block
		margin-top: 8px
		color: #ffffff
		font-size: 22px
		font-weight: 400
		text-transform: uppercase
		text-align: right
		line-height: 12px
		&:hover
			text-decoration: none
			color: #fff
	&_btn
		margin-top: 19px
		width: 172px
		height: 46px
		box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12)
		border: none
		border-radius: 4px
		background-image: linear-gradient(to top, #1CA8C3 0%, #4ce2ff 100%)
		text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21)
		color: #ffffff
		font-size: 14px
		font-weight: 400
		text-transform: uppercase


.promo
	min-height: 800px
	background: url('/MEDIA/UBER/uber_bg.jpg') center (center / cover) no-repeat
	padding: 150px 0 135px 0
	&_header
		color: #ffffff
		font-weight: 700
		text-transform: uppercase
		font-size: 60px
		line-height: 60px
		margin: 0
		text-align: center
	&_subheader
		color: #ffffff
		font-weight: 700
		text-transform: uppercase
		font-size: 36px
		line-height: 36px
		margin: 0
		margin-top: 22px
		text-align: center
	&_descr
		color: #ffffff
		font-size: 18px
		font-weight: 400
		line-height: 24px
		text-align: center
		margin-top: 23px
	&_btn
		display: block
		margin: 118px auto 0 auto
		width: 259px
		height: 63px
		box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12)
		border: none
		border-radius: 4px
		background-image: linear-gradient(to top, #1CA8C3 0%, #4ce2ff 100%)
		text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21)
		color: #ffffff
		font-size: 18px
		font-weight: 400
		text-transform: uppercase

.reasons
	padding: 71px 0 65px 0
	&_block
		display: flex
		justify-content: center
		align-items: center
		margin-top: 35px
	&_round
		display: flex
		justify-content: center
		align-items: center
		margin-right: 26px
		width: 113px
		height: 113px
		background-color: #1CA8C3
		border-radius: 100%
	&_descr
		width: 343px
	&_subtitle
		line-height: 21px
		color: #1CA8C3
		font-size: 17px
		font-weight: 400
	&_text
		color: #202020
		font-size: 15px
		font-weight: 300
		line-height: 21px

.label
	position: relative
	margin: 0 auto
	height: 24px
	width: 112px
	padding: 5px 12px
	background-color: #000000
	color: #ffffff
	font-size: 11px
	font-weight: 300
	text-transform: uppercase
	text-align: center
	z-index: 2
	&_white 
		background-color: #fff
		color: #000
	&_min 
		width: 76px

.title
	position: relative
	margin-bottom: 0
	margin-top: 38px
	color: #222222
	font-size: 38px
	line-height: 38px
	font-weight: 700
	text-transform: uppercase
	text-align: center
	z-index: 2
	&_white 
		color: #fff

.subtitle
	position: relative
	margin-top: 19px
	color: #222222
	font-size: 17px
	font-weight: 400
	text-align: center
	z-index: 2
	&_white 
		color: #fff

	
.mobile 
	min-height: 864px
	padding: 48px 0 79px 0
	background: url('/MEDIA/UBER/mobile_bg.jpg') center (center / cover) no-repeat
	.row 
		margin-top: 32px
	&_item 
		position: relative
		width: 320px
		height: 280px
		margin: 0 auto
		margin-bottom: 19px
		padding-top: 92px
		&_1
			background: url('/MEDIA/UBER/Карточка_1.png') center (center / cover) no-repeat
		&_2
			background: url('/MEDIA/UBER/Карточка_2.png') center (center / cover) no-repeat
		&_3
			background: url('/MEDIA/UBER/Карточка_3.png') center (center / cover) no-repeat
		&_4
			background: url('/MEDIA/UBER/Карточка_4.png') center (center / cover) no-repeat
		&_5
			background: url('/MEDIA/UBER/Карточка_5.png') center (center / cover) no-repeat
		&_6
			background: url('/MEDIA/UBER/Карточка_6.png') center (center / cover) no-repeat
		&_subtitle
			color: #ffffff
			font-size: 24px
			font-weight: 400
			line-height: 31px
			text-transform: uppercase
			text-align: center
		&_plus
			display: flex 
			justify-content: center
			align-items: center
			position: absolute
			bottom: 35px
			left: 50%
			transform: translateX(-50%)
			width: 26px
			height: 26px
			background-color: #000000
			margin: 0 auto
			border-radius: 100%
			cursor: pointer
			&:before
				content: ''
				display: block
				width: 14px 
				height: 2px 
				background-color: #1CA8C3
				transition: 0.3s all
			&:after 
				content: ''
				position: absolute 
				left: 50%
				transform: translateX(-50%)
				display: block 
				height: 14px
				width: 2px
				background-color: #1CA8C3
				transition: 0.3s all
			&:hover 
				&:before, &:after 
					background-color: #FF5656


.car_choose	
	position: relative
	min-height: 895px
	padding: 57px 0 138px 0
	background: url('/MEDIA/UBER/dark_light.png') center (center / cover) no-repeat
	&_img 
		position: relative
		display: block
		margin: 56px auto 0 auto
		z-index: 2
	&_descr 
		text-align: center
		color: #222222
		font-size: 17px
		font-weight: 300
		line-height: 24px
	.black 
		position: absolute 
		top: 0
		left: 0
		height: 499px
		width: 100%
		background-color: #070716
		z-index: 1

.require
	padding: 68px 0 84px 0
	&_block 
		margin: 33px 0
		&_nmb
			margin-bottom: 0px
	&_title 
		color: #1ca8c3
		font-size: 22px
		font-weight: 400
	&_list 
		list-style-type: none
		padding-left: 50px
		margin-top: 22px
		li 
			position: relative
			font-size: 17px
			font-weight: 300
			line-height: 24px
			margin-bottom: 10px
			&:before 
				content: ''
				display: block 
				position: absolute
				left: -32px
				top: 3px
				width: 21px 
				height: 20px
				background: url('MEDIA/UBER/check_icon.svg') center (center / cover) no-repeat
	&_descr 
		margin-top: 25px
		font-size: 17px
		font-weight: 300
		line-height: 24px
		color: #1ca8c3
	.warning 
		.require_title
			color: #FF5656
		.require_list
			li 
				&:before
					background: url('/MEDIA/UBER/check_red_3.svg') center (center / cover) no-repeat
.world 
	position: relative
	min-height: 717px
	padding: 49px 0
	background: url('/MEDIA/UBER/world_bg.jpg') center (center / cover) no-repeat
	&_link 
		position: absolute
		left: 50%
		transform: translateX(-50%)
		bottom: 49px
		text-align: center
		font-size: 15px
		font-weight: 400
		line-height: 68px
		text-transform: uppercase
		color: #1fbad6
		&:hover 
			text-decoration: none
			color: #fff
footer 
	padding: 14px 23px 39px 23px
	a 
		&:hover 
			text-decoration: none
.footer
	&_divider
		width: 299px
		height: 4px
		background-color: #1fbad6
		margin: 0 auto
	&_wrapper
		display: flex 
		justify-content: space-between
		align-items: flex-start
		padding-top: 32px
	&_wrapper > div 
		width: 33%
		&:nth-child(3)
			display: flex 
			justify-content: flex-end
	&_social
		width: 160px
		display: flex
		justify-content: space-between
		&_item 
			display: flex 
			justify-content: center
			align-items: center
			margin: 0 4px 
			width: 32px
			height: 32px
			background-color: #070716
			border-radius: 100%
			i 
				color: #fff
	&_links
		width: 390px
		margin: 0 auto
		&_main 
			display: flex 
			justify-content: space-between
			padding: 0 10px
			a 
				color: #070716
				font-size: 15px
				font-weight: 300
				text-transform: uppercase
		&_sub 
			display: flex 
			justify-content: space-between
			margin-top: 10px
			a 
				color: #999999
				font-size: 11px
				font-weight: 300
				text-transform: uppercase
		&_lang 
			display: block 
			margin: 0 auto
			color: #1fbad6
			font-size: 11px
			font-weight: 400
			margin-top: 19px
			text-transform: uppercase
			text-align: center
.xs-visible 
	display: none
