@media (max-width: 1200px) {
  .menu {
    padding: 8px 25px;
  }
  .menu_item {
    padding-right: 17px;
  }
  .menu_link {
    font-size: 12px;
  }
  .promo_header {
    font-size: 52px;
  }
  .promo_subheader {
    font-size: 30px;
  }
  .promo_descr {
    font-size: 15px;
  }
  .reasons_block {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .reasons_descr {
    width: 301px;
  }
  .subheader_official {
    font-size: 12px;
  }
  .subheader_phone {
    font-size: 18px;
  }
  .subheader_call {
    font-size: 12px;
  }
  .mobile_item {
    width: 222px;
    font-size: 18px;
  }
}

@media (max-width: 991px) {
  .menu {
    padding: 8px 1px;
  }
  .menu_item {
    padding-right: 8px;
  }
  .menu_link {
    font-size: 10px;
  }
  .subheader_logo img {
    width: 138%;
  }
  .subheader_official {
    font-size: 8px;
  }
  .subheader .col-sm-4 {
    width: 33.33%;
  }
  .subheader .col-md-1 {
    width: 33.33%;
  }
  .subheader_btn {
    width: 140px;
    font-size: 12px;
    height: 36px;
  }
  .subheader_btn .col-sm-4 {
    width: 30%;
  }
  .car_choose .container img {
    width: 85%;
  }
  .reasons_round {
    height: 96px;
  }
  .reasons_subtitle {
    font-size: 16px;
  }
  .reasons_text {
    font-size: 13px;
  }
  .reasons .container .title {
    font-size: 35px;
  }
  .promo_header {
    font-size: 41px;
  }
  .promo_subheader {
    font-size: 24px;
  }
  .promo_descr {
    font-size: 13px;
  }
  .promo_btn {
    width: 240px;
    height: 50px;
  }
  .world_link {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .subheader_logo img {
    width: 133%;
  }
  .subheader_call {
    font-size: 13px;
  }
  .subheader_phone {
    font-size: 19px;
  }
  .subheader_btn {
    width: 128px;
    font-size: 12px;
    height: 35px;
  }
  .subheader_official {
    font-size: 10px;
  }
  .subheader .container {
    font-size: 9px;
    margin: 0 0 0 50px;
    padding: 0;
  }
  .promo_header {
    font-size: 36px;
  }
  .promo_subheader {
    font-size: 22px;
  }
  .promo_descr {
    font-size: 12px;
  }
  .reasons .container .title {
    font-size: 27px;
  }
  .reasons_round {
    height: 89px;
  }
  .container .title {
    font-size: 31px;
  }
  .container .subtitle_2 {
    font-size: 16px;
  }
  .menu_link {
    font-size: 10px;
  }
  .menu_item {
    padding-right: 5px;
  }
}

@media (max-width: 767px) {
  .menu {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: 0.8s all;
    transition: 0.8s all;
  }
  .menu_active {
    left: 0;
  }
  .menu_item {
    padding-right: 0;
    border: none;
    margin: 10px;
  }
  .menu_link {
    font-size: 19px;
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 9px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 20px;
    background-color: #fff;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    margin-bottom: 2px;
  }
}
/*# sourceMappingURL=media.css.map */