/* PAGE */
.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
/* Header */
.header {
  display: flex;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  align-items: center;
  position: relative;
  background-color: #f2f2f2;
  overflow: hidden;
}
.logo {
  width: 183px;
  height: 32px;
  background-size: contain;
}
.logo_place_header {
  background-image: url(../images/logo_place_header.png);
  position: absolute;
  top: 30px;
  left: 64px;
}
.header__title {
  max-width: 730px;
  line-height: 1;
  font-size: 102px;
  font-weight: bold;
  align-self: center;
  position: relative;
  left: 64px;
  margin: 0;
}
.header__subtitle {
  margin: 0;
  padding: 0;
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 3;
}
.header__subtitle-link {
  text-decoration: none;
  color: #2f80ed;
}
.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.header__square-pic {
  background-color: #2f80ed;
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
}
/* Content */
.content {
  margin-top: 100px;
}
.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.two-columns__span-accent {
  margin: 0;
  padding: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}
.two-columns__brief {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  width: 175px;
  color: #044cad;
}
.two-columns__main-text {
  margin: 0;
  padding: 0;
  width: 80%;
  min-width: 784px;
}
.two-columns__paragraph {
  margin: 0 0 30px 0;
  padding: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.two-columns__paragraph:last-child{
  margin: 0;
  padding: 0;
}
.description {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  /* Отступ по макету в 100px - это не ошибка!Валерия */
}
/* Digits */
.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
}
.table {
  display: flex;
  max-width: 1100px;
  flex-flow: row wrap;
  justify-content: space-between;
}
.table__cell {
  width: 250px;
  margin-top: 60px;
}
.table__text {
  font-weight: normal;
  margin: 20px 0 0;
  line-height: 1.2;
  font-size: 18px;
}

/* FEYNMAN */
.feynman {
  display: flex;
  flex-direction: column;
  min-height: 790px;
  /* box-sizing: border-box; тут не нужен потому что по макету буквы также ложаться как и на макете, если добавить бордер то буквы съезжают, Валерия*/
  padding-top: 100px;
  position: relative;
  background-color: #f2f2f2;
}
.section-title_theme_dark{
  color: white;
  z-index: 1;
}
.section-subtitle_theme_dark{
  color: white;
}
.feynman__img {
  position: absolute;
  background-image: url("../images/feynman.png");
  width: 867px;
  height: 637px;
  left: 0px;
  bottom: 0px;
  z-index: 0;
}
.feynman__title {
  width: 648px;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  align-self: center;
  z-index: 1;
}
.feynman__subtitle {
  margin: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  padding: 0;
  align-self: center;
  margin-top: 70px;
  z-index: 1;
}
.feynman__link {
  color: #2f80ed;
  position: absolute;
  right: 48px;
  top: 50%;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  z-index: 1;
}
/* KAUFMAN */
.kaufman {
  display: flex;
  background-color: #1f1f1f;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
  padding-top: 90px;
  padding-bottom: 90px;
}
.section-title {
  width: 60%;
  margin: 0 0 20px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  line-height: 1.15;
}
.section-subtitle {
  width: 60%;
  margin: 0;
  line-height: 34px;
  text-align: center;
  font-size: 24px;
  font-weight: normal;
}
.table__cell_theme_dark {
  color: white;
  width: 200px;
  margin-top: 80px;
  z-index: 1;
}
.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}
.kaufman__triangle {
  display: flex;
  width: 877px;
  height: 877px;
  background-size: contain;
  position: absolute;
  top: 0;
  right: -208px;
  z-index: 0;
  background-image: url(../images/kaufman-triangle.png);
}
/* footer */
.footer {
  box-sizing: border-box;
  min-height: 350px;
  background-color: #1f1f1f;
  padding-top: 60px;
  padding-bottom: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  color: #ffffff;
}
.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.footer__column_content_copyright {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-basis: 711px;
}
.logo {
  background-size: contain;
  width: 228px;
  height: 32px;
  background-repeat: no-repeat;
}
.logo_place_footer {
  background-image: url(../images/logo_place_footer.png);
}
.footer__author {
  margin: 18px 0;
  align-self: flex-start;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
.footer__column_content_info {
  display: flex;
  flex-direction: column;
}
.footer__column-heading {
  padding: 0;
  margin: 0 0 20px;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
}
.footer__link {
  color: #ffffff;
  text-decoration: none;
}
.footer__column_content_social {
  display: flex;
  flex-direction: column;
}
.footer__column-links {
  margin: 0 0 16px;
  padding: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  list-style-type: none;
}
