.khan__buy-link {
  margin: 0;
  line-height: 42px;
  align-self: flex-start;
  font-weight: normal;
  font-size: 30px;
  text-decoration: none;
  transition: opacity .3s ease;
  cursor: pointer;
  color: #2f80ed;
}

.khan__buy-link:hover {
  opacity: 0.6;
}
